@import "src/styles/mixins/fonts";
.block{
  .scoreboard{
    .player{
      .lobbyInfo{
        padding: 15px;
        background-color: var(--background-col);
        border-radius: 5px;
        .info{
          flex-grow: 1;
        }
        .score{
          @include font_p();
          font-weight: 700;
          align-self: center;
        }
        .playerName{
          @include font_p();
        }
      }
    }
  }
}
