@import "src/styles/shared/texts";
.gameFinishedLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  .hTitle,
  .p,
  .button {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
