@import "../../styles/mixins/fonts";

.keyboard{
  display: flex;
  flex-wrap: wrap;



  .kBtnRow{
    width: 100%;
    display: flex;
    .buttons{
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.oneThird{
  width: calc(100%/3);
}
