@import "src/styles/mixins/animation";

header.header{
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;

  position: absolute;

    .container{
      display: flex;
      justify-content: space-between;
    }

    .leftHeader{
      display: flex;
      align-items: center;
    }

    &.transparent{
      background: transparent;
    }
}

.underHeader{
  width: 100%;
  height: 80px;
  transition: $animation-middle-duration $animation-fast-tf height;
  &.hide{
    height: 0px;
  }
}
