@import "src/styles/mixins/fonts";
.onlineHandler{
  border-radius: 5px;
  background-color: var(--background-col);
  display: flex;
  align-items: center;
  padding: 8px;
  .point{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-right: 8px;
  }
  span{
    @include font_sm();
  }
  &.gray{
    .point{
      background-color: var(--background3-col);
    }
  }

  &.orange{
    .point{
      background-color: var(--yellow-col);
    }
  }

  &.green{
    .point{
      background-color: var(--green-col);
    }
  }
}
