.container{
  max-width: 1850px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.containerMainFlow{
  /*    m 8/10 m    */
  width: calc(100% / 10 * 8);
  margin: 0 auto;
}

.min-height{
  min-height: 100vh;
}

.preloader-container{
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
