@import "../../styles/mixins/fonts";
.exampleContainer{
  margin-bottom: 15px;
  .example{
    @include defaultFont();
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--background-opposite-col);
    margin-bottom: 15px;
  }
  .answerArea{
    @include font_h1();
    &:before{
      @include font_h1();
      content: "=";
      margin-right: 15px;
      color: var(--secondary-col);
    }
  }
}
